.myuki-danmu_box,
.myuki-danmu_box * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
a:any-link{
	text-decoration: none;
}
.myuki-danmu_box {
	position: relative;
	width: 100%;
	height: 100%;
	/*border-radius: 8px;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.6);*/
	padding: 8px;
	overflow: hidden;
	/* z-index: 9999; */
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
}

.myuki-danmu_box::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 100%;
	left: -1px;
	top: 0;
	/* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
	z-index: inherit; */

}

.myuki-danmu_box::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 100%;
	right: -1px;
	top: 0;
	/* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
	z-index: inherit; */

}

.myuki-danmu_item {
	position: absolute;
	width: fit-content;
	height: 32px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: white;
	/*padding-left: 4px;
	padding-right: 4px;*/
	border-radius: 16px;
	left: 100%;
	/* z-index: 9998; */
	cursor: pointer;
	transition: box-shadow .3s ease;
	/*box-shadow: 0px 0px .1px white;*/
}

.myuki-danmu_item:hover {
	box-shadow: 0px 0px 0px transparent;
}

.myuki-danmu_item .avatar {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	overflow: hidden;
	/*box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);*/
}

.avatar img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.myuki-danmu_item .content {
	/* font-weight: bold;
	font-size: ; */
	line-height: 1;
	margin: 0 12px;
	color: #000000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#AwesomeMyukiDanMu {
	position: relative;
	width: 100%;
	height: 300px;
}